<div class="mb-3" style="margin-top:10px">

    <div class="d-flex mb-3 sticky-top" style="background-color:white">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" id="searchField">
        <button class="btn btn-outline-success" id="searchButton">Искать</button>
    </div>

</div>

<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Роль</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="users">
        <tr>
            <th scope="row">
                <p class="placeholder-wave">
                    <span class="placeholder col-12"></span>
                </p>
            </th>
            <td>
                <p class="placeholder-wave">
                    <span class="placeholder col-12"></span>
                </p>
            </td>
            <td colspan="2">
                <p class="placeholder-wave">
                    <span class="placeholder col-12"></span>
                </p>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <p class="placeholder-wave">
                    <span class="placeholder col-12"></span>
                </p>
            </th>
            <td>
                <p class="placeholder-wave">
                    <span class="placeholder col-12"></span>
                </p>
            </td>
            <td colspan="2">
                <p class="placeholder-wave">
                    <span class="placeholder col-12"></span>
                </p>
            </td>
        </tr>
    </tbody>
</table>

<script>
    updateUsers();

    function updateUsers() {
        $.ajax({
            type: 'GET',
            url: 'Admin/GetUsers',
            success: function (users) {
                var s = "";

                for (let i = 0; i < users.length; i++) {
                    s += "<tr>";
                    s += "<th scope='row'>" + (i + 1) + "</th>";
                    s += "<td>" + users[i].email + "</td>";
                    s += "<td>";
                    s += "<select class='form-select' aria-label='Default select'>";
                    s += "<option selected>none</option>";
                    s += "<option>admin</option>";
                    s += "</select>";
                    s += "</td>";
                    s += "<td><button class='btn btn-light'>Сохранить</button></td>";
                    s += "</tr>";
                }
                $("#users").html(s);
            }
        });
    }

</script>