<div class="mb-3" style="margin-top:10px">

    <div class="d-flex mb-3 sticky-top" style="background-color:white">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" id="searchField">
        <button class="btn btn-outline-success" id="searchButton">Искать</button>
    </div>

</div>

<span id="users"></span>

<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Роль</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Mark</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Jacob</td>
        </tr>
    </tbody>
</table>