@{
    ViewData["Title"] = "Админ панель";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        updateRoles();

        $('#roleAddBtn').click(function () {
            roleName = document.getElementById('roleNameInp').value;
            addRole(roleName);
        });

        function addRole(_name) {
            $.ajax({
                type: 'POST',
                url: "Admin/AddRole/",
                data: { name: _name },
                success: function () {
                    updateRoles();
                }
            });
        }

        function updateRoles() {
            $.ajax({
                type: 'GET',
                url: "Admin/GetRoles/",
                success: function (roles) {
                    var s = "";
                    for (let i = 0; i < roles.length; i++) {

                        s += "<tr>";
                        s += "<th>" + (i + 1) + "</th>";
                        s += "<td>" + roles[i] + "</td>";
                        s += "<td><a href='#' class='btn btn-danger'>" +
                                "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-archive' viewBox='0 0 16 16'>" +
                                    "<path d='M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z' />" +
                                "</svg>" +
                                "</a></td>";
                        s += "</tr>";
                    }
                    $("#roles").html(s);
                }
            });
        }

    });

</script>

<h2>Админ панель</h2>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">Пользователи</button>
        <button class="nav-link" id="nav-roles-tab" data-bs-toggle="tab" data-bs-target="#nav-roles" type="button" role="tab" aria-controls="nav-roles" aria-selected="false">Роли</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">

        <div class="mb-3" style="margin-top:10px">

            <div class="d-flex mb-3 sticky-top" style="background-color:white">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" id="searchField">
                <button class="btn btn-outline-success" id="searchButton">Искать</button>
            </div>

        </div>

        <span id="users"></span>

        <table class="table table-hover align-middle" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="tab-pane fade" id="nav-roles" role="tabpanel" aria-labelledby="nav-roles-tab">

        <div class="mb-3" style="margin-top:10px">

            <div class="d-flex">
                <input id="roleNameInp" class="form-control me-2" type="text" placeholder="Название роли" style="width:240px">
                <button id="roleAddBtn" class="btn btn-primary">Добавить</button>
            </div>

        </div>

        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody id="roles">
                <tr>
                    <td>
                        <p class="placeholder-wave">
                            <span class="placeholder col-12"></span>
                        </p>
                    </td>
                    <td colspan="2">
                        <p class="placeholder-wave">
                            <span class="placeholder col-12"></span>
                        </p>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>